<%- include("../partials/dashboard_header") %> 
 
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Admin Management</h1>
            </div>

           
            <button class="btn btn-primary mb-3" type="button" data-bs-toggle="modal" data-bs-target="#addAdminModal"><i class="fa-solid fa-plus"></i> Add Admin</button>


            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                <% admins.forEach(admin => { %>
                 <tr>
                    <td><%= admin.email %></td>
                    <td><%= admin.role %></td>
                    <td>
                        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#edit<%= admin._id %>"><i class="fa-solid fa-pen-to-square"></i> Edit</button>
                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete<%= admin._id %>"><i class="fa-solid fa-trash"></i> Delete</button>

                        <div class="modal fade" id="edit<%= admin._id %>" tabindex="-1" aria-labelledby="editAdmin" aria-hidden="true">
                          <form action="/admin/dashboard/admin-management/edit" method="post">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h1 class="modal-title fs-5">Edit Admin</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                     <div class="mb-3">
                                      <label for="email" class="form-label">Email Address</label>
                                      <input class="form-control" type="email" name="email" value="<%= admin.email %>" disabled>
                                     </div>
                                     <div class="mb-3">
                                      <label for="role" class="form-label">Role</label>
                                      <select name="role" class="form-select" aria-label="Role">
                                          <option <%= admin.role === "Admin" ? 'selected' : null %> value="Admin">Admin</option>
                                          <option <%= admin.role === "Super Admin" ? 'selected' : null %> value="Super Admin">Super Admin</option>
                                    </select>
                                     </div>
                                     <input type="hidden" name="adminId" value="<%= admin._id %>">
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-x"></i> Close</button>
                                      <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> Save Changes</button>
                                    </div>
                                  </div>
                                </div>
                          </form>
                        </div>

                        <div class="modal fade" id="delete<%= admin._id %>" tabindex="-1" aria-labelledby="deleteAdmin" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Admin</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                Are you sure?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a class="btn btn-danger" href="/admin/dashboard/admin-management/delete/<%= admin._id %>"><i class="fa-solid fa-trash"></i>Delete</a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </td>
                 </tr>
                <% }) %>
                </tbody>
            </table>




            <div class="modal fade" id="addAdminModal" tabindex="-1" aria-labelledby="addAdminModal" aria-hidden="true">
                <form action="/admin/dashboard/admin-management" method="post">
                    <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5">Add New Admin</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                           <div class="mb-3">
                            <label for="email" class="form-label">Email Address</label>
                            <input class="form-control" type="email" name="email" placeholder="name@example.com">
                           </div>
                           <div class="mb-3">
                            <label for="role" class="form-label">Role</label>
                            <select name="role" class="form-select" aria-label="Role">
                                <option value="Admin">Admin</option>
                                <option value="Super Admin">Super Admin</option>
                          </select>
                           </div>
                           <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input class="form-control" type="password" name="password">
                           </div>
                           <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                            <input class="form-control" type="password" name="confirmPassword">
                           </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-x"></i> Close</button>
                            <button type="submit" class="btn btn-primary" disabled><i class="fa-solid fa-plus"></i> Add</button>
                          </div>
                        </div>
                      </div>
                </form>
              </div>
          </main>

<%- include("../partials/dashboard_footer") %>  
