<%- include("../partials/dashboard_header") %> 
 
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Dashboard</h1>
            </div>

            <div class="row mb-3">
              
              <div class="col-lg dashboard-container">
                <div class="row">
                  <div class="col-lg">
                    <h2><%= userCount %></h2>
                    <p>Users</p>
                  </div>
                 
                  <div class="col-lg">
                    <i class="fa-solid fa-user fa-6x"></i>
                  </div>
                </div>
               
              </div>

              <div class="col-lg dashboard-container">
                <div class="row">
                  <div class="col-lg">
                    <h2><%= comicCount %></h2>
                    <p>Comics</p>
                  </div>
                 
                  <div class="col-lg">
                    <i class="fa-solid fa-book fa-6x"></i>
                  </div>
                </div>
               
              </div>

              <div class="col-lg dashboard-container">
                <div class="row">
                  <div class="col-lg">
                    <h2><%= chapterCount %></h2>
                    <p>Chapters</p>
                  </div>
                 
                  <div class="col-lg">
                    <i class="fa-solid fa-book-open fa-6x"></i>
                  </div>
                </div>
               
              </div>

              


            </div>


            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Comic</th>
                  <th scope="col">Chapter</th>
                  <th scope="col">Comments</th>
                  <th scope="col">Reactions</th>
                </tr>
              </thead>
              <tbody>
                <% chapters.forEach(chapter => { %>
                  <tr>
                    <td><%= chapter.comicTitle %></td>
                    <td><%= chapter.number %></td>
                    <td><%= chapter.comments.length %></td>
                    <td><%= chapter.reactions.length %></td>
                  </tr>
                <% }) %>
              </tbody>
            </table>
      
          </main>

<%- include("../partials/dashboard_footer") %>  
