<%- include("partials/header") %>
<%- include("partials/navbar") %>


<main class="container-xl">
<div class="comic-container mt-5 row">
    <h2>Bookmark</h2>
    <hr>

    <% user.bookmark.forEach(comic => { %>
      <a class="col-lg-3 mb-3 comic-list-item" href="<%= comic.titlePath %>">
        <img src="<%= comic.thumbnail.substring(7) %>" width="200px" height="250px" alt="">
        <h5><%= comic.title %></h5>
        <p>Chapter <%= comic.chapters[comic.chapters.length-1].number %></p>
        <h6><%= comic.status %></h6>
      </a>
    <% }) %>
    
  
</div>
</main>

<%- include("partials/footer") %>