<%- include("partials/header") %>
<%- include("partials/navbar") %>

<main class="container-xl mt-3">


    <div class="row">
        <div class="col-md-8 me-2">
            <div class="comic-container">
              <h5><%= sectionTitle %></h5>
            <hr>
        
            <div class="row latest-update-container">

              <% comics.forEach(comic => { %>

                <div class="col-lg comic-item row mb-3">
                  <div class="col-lg-auto mb-3">
                    <img src="<%= comic.thumbnail.substring(7) %>" alt="">
                  </div>
                  <div class="col-lg">
                      <h5><a class="link-title-comic" href="/comics/<%= comic.titlePath %>"><%= comic.title.length > 50 ? comic.title.substring(0, 50) + "..." : comic.title %></a></h5>
                  <ul>

                    <% comic.chapters.reverse().forEach(chapter => { %>
                      <li><a class="link-chapter" href="/comics/<%= comic.titlePath %>/<%= chapter.chapterPath %>">Chapter <%= chapter.number %></a><p id="postDate"><%= moment(chapter.createdAt).fromNow() %></p></li>
                    <% }) %>
                    
                  </ul>
                  </div>
              </div>
               
              <% }) %>

            </div>
            
            </div>
            
    
        </div>

        <div class="col-md">
            <div class="comic-container">
              <h5>Top Popular</h5>
            <hr>

            <div class="row">

              <% topPopular.forEach((comic, i) => { %>
                <div class="col-lg-12 row top-popular-item">
                    <div class="col-lg-4">
                        <img src="<%= comic.thumbnail.substring(7) %>" alt="" width="100" height="150" style="display: inline-block;">
                    </div>
                   <div class="col-lg-8">
                    <h5><a class="link-title-comic" href="/comics/<%= comic.titlePath %>"><%= comic.title.length > 50 ? comic.title.substring(0, 50) + "..." : comic.title %></a></h5>

                    <div class="rating mb-3">
                      <% for( let index = 0; index < topPopularRating[i]; index++ ) { %>
                        <i class="fa-solid fa-star"></i>
                      <% } %>

                      <% for( let index = 0; index < 5-topPopularRating[i]; index++ ) { %>
                        <i class="fa-regular fa-star"></i>
                      <% } %>
                     </div>

                    <% comic.genres.forEach(genre => { %>
                        <span class="badge bg-secondary"><%= genre %></span>
                    <% }) %>
                   </div>
                
                </div>
                <hr>
            <% }) %>

            </div>

            </div>
        </div>
        
    </div>

   

</main>



<%- include("partials/footer") %>