<%- include("../partials/header") %>
<%- include("../partials/navbar") %>


<main class="container-xl">
<div class="comic-container mt-5 row">
    <h2>Comic List</h2>
    <hr>

    <div class="row">

      <div class="col-lg mb-3">
        <div class="col-lg dropdown me-3 mb-3" style="display: inline-block;">
            <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Genre All
            </button>
            <ul class="dropdown-menu">
                <% genres.forEach(genre => { %>
                    <li class="dropdown-item">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="<%= genre %>" name="genre" value="<%= genre %>">
                            <label class="form-check-label capitalize" for="<%= genre %>"><%= genre %></label>
                          </div>
                        </li>
                <% }) %>
            </ul>
          </div>

          <div class="col-lg dropdown me-3 mb-3" style="display: inline-block;">
            <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Status All
            </button>
            <ul class="dropdown-menu">
               <% status.forEach(value => { %>
                <li class="dropdown-item">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="status" id="<%= value %>" value="<%= value %>">
                        <label class="form-check-label" for="<%= value %>"><%= value %></label>
                    </div>
                </li>
               <% }) %>
            </ul>
          </div>
          <div class="col-lg dropdown me-3 mb-3" style="display: inline-block;">
            <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Type All
            </button>
            <ul class="dropdown-menu">
                <% type.forEach(value => { %>
                    <li class="dropdown-item">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="type" id="<%= value %>" value="<%= value %>">
                            <label class="form-check-label" for="<%= value %>"><%= value %></label>
                        </div>
                    </li>
                <% }) %>
            </ul>
          </div>
          <div class="col-lg dropdown me-3 mb-3" style="display: inline-block;">
            <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Order By
            </button>
            <ul class="dropdown-menu">
              <% order.forEach(value => { %>
                <li class="dropdown-item">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="order" id="<%= value %>" value="<%= value %>">
                        <label class="form-check-label" for="<%= value %>"><%= value %></label>
                    </div>
                </li>
            <% }) %>
            </ul>
          </div>

          
      </div>


      <div class="col-lg button-search">
        <button id="searchButton" class="btn btn-light" type="button" style="margin-left: 30px;" disabled><i class="fa-solid fa-magnifying-glass"></i> Search</button>
        <button id="resetSearch" class="btn btn-light" href=""><i class="fa-solid fa-trash-can-arrow-up"></i> Reset Search</button>
      </div>
    </div>



    <% comics.forEach(comic => { %>
      <a class="col-lg-3 mb-3 comic-list-item" href="<%= comic.titlePath %>">
        <img src="<%= comic.thumbnail.substring(7) %>" width="200px" height="250px" alt="">
        <h5><%= comic.title %></h5>
        <p>Chapter <%= comic.chapters[comic.chapters.length-1].number %></p>
        <h6><%= comic.status %></h6>
      </a>
    <% }) %>
    
  
</div>
</main>

<%- include("../partials/footer") %>