<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<main class="container-xl my-3">
    <div class="row">
        <div class="col-lg-8">
            <div class="comic-container row">
                <div class="col-lg-6 mb-3">
                    <div class="label-comic">
                        <%= comic.type.toUpperCase() %>
                    </div>
                    <img class="mb-3 w-100" style="display: block;" src="<%= comic.thumbnail.substring(7) %>" alt="" height="500" >
                    
                 <div class="row">
                    <div class="col-lg-6">
                        <form action="/comics/add-bookmark" method="post">
                            <input type="hidden" name="comicId" value="<%= comic._id %>">
                            <button type="submit" class="btn btn-primary w-100" >
    
                                <% if (user) { %>
                                 
                                    <% if (user.bookmark.findIndex((bookmarkComic) => bookmarkComic._id.toString() === comic._id.toString()) === -1) { %>
                                        <i class="fa-regular fa-bookmark"></i> Bookmark
    
                                    <% } else { %>
                                        <i class="fa-solid fa-bookmark"></i> Bookmarked</button>
                                    <% } %>
    
                                <% } else { %>
                                    <i class="fa-regular fa-bookmark"></i> Bookmark
                                <% } %>
    
                               
                                 
                    
                                
                        </form>
                      </div>
    
                      <div class="col-lg-6">
                        <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#ratingModal"><i class="fa-solid fa-star"></i> Edit your Rating</button>

                        <div class="modal fade rating-modal-container" id="ratingModal" tabindex="-1" aria-labelledby="ratingModal" aria-hidden="true">
                           <form action="/comics/submit-rating" method="post" id="submitRatingForm">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" >Rating</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                   
                                      <div class="rating">
                                          <i class="fa-regular fa-star rate"></i>
                                          <i class="fa-regular fa-star rate"></i>
                                          <i class="fa-regular fa-star rate"></i>
                                          <i class="fa-regular fa-star rate"></i>
                                          <i class="fa-regular fa-star rate"></i>
                                      </div>
                                      <input type="hidden" name="ratingNumber">
                                      <input type="hidden" name="comicId" value="<%= comic._id %>">
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                  </div>
                                </div>
                              </div>
                           </form>
                          </div>
                      </div>
                 </div>

                   
                    
                </div>
               <div class="col-lg-6">
                    
                    <h5><%= comic.title %></h5>
                    <div class="rating mb-3">
                        <% for( let index = 0; index < rating; index++ ) { %>
                          <i class="fa-solid fa-star"></i>
                        <% } %>
  
                        <% for( let index = 0; index < 5-rating; index++ ) { %>
                          <i class="fa-regular fa-star"></i>
                        <% } %>
                       </div>
                    <% comic.genres.forEach(genre => { %>
                        <span class="badge bg-secondary mb-3"><%= genre.toUpperCase() %></span>
                    <% }) %>


                    <h6>Synopsis</h6>
                   <p><%= comic.synopsis %></p>
        
                   <div class="row">
                        <div class="col-lg-6">
                            <h6>Author</h6>
                            <span class="badge bg-secondary mb-3"><%= comic.author %></span>
                        </div>
        
                        <div class="col-lg-6">
                            <h6>Status</h6>
                            <span class="badge bg-secondary mb-3"><%= comic.status %></span>
                        </div>
        
                        <div class="col-lg-6">
                            <h6>Last Updated</h6>
                            <span class="badge bg-secondary mb-3"><%= comic.updatedAt.toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"}) %></span>
                        </div>
        
                        <div class="col-lg-6">
                            <h6>Type</h6>
                            <span class="badge bg-secondary mb-3"><%= comic.type %></span>
                        </div>
                        
                   </div>

        
                  
        
               </div>
            </div>
        
            <div class="comic-container" id="readNow">
                <h4>Chapters</h4>
                <hr>
        
                <div class="row mb-3">
                   <div class="col-lg-6 mb-3">
                    <a class="btn btn-primary custom-button" href="/comics/<%= comic.titlePath %>/<%= comic.chapters[0].chapterPath %>">First Chapter</a>
                   </div>
                    <div class="col-lg-6 mb-3">
                        <a class="btn btn-primary custom-button" href="/comics/<%= comic.titlePath %>/<%= comic.chapters[comic.chapters.length-1].chapterPath %>">New Chapter</a>
                    </div>
                </div>
        
                <div class="chapter-overflow">

                    <% comic.chapters.reverse().forEach(chapter => { %>
                        <div class="chapter-container mb-2 me-3">
                            <a href="/comics/<%= comic.titlePath %>/<%= chapter.chapterPath %>">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <h5>Chapter <%= chapter.number %></h5>
                                        <p><%= chapter.createdAt.toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"short", day:"numeric"}) %></p>
                                    </div>

                                    <div class="col-lg">
                                        <p><%= moment(chapter.createdAt).fromNow() %></p>
                                    </div>
                                </div>

                                
                            </a>
                        </div>
                    <% }) %>

                    
                
                </div>
                
                
            </div>
        
            <div class="comic-container">
                <h3>Comments</h3>
                <hr>
        
              <form action="/comment" method="post" id="comment">
                <div class="row">
                    <div class="col-lg-9">
                        <textarea class="form-control" name="comment" id="comment" cols="30" rows="3"></textarea>
                        <input type="hidden" name="comicId" value="<%= comic._id %>">
                        <input type="hidden" name="commentSection" value="comic">
                    </div>
                    <div class="col-lg">
                        <button class="btn btn-primary w-100 h-100"><i class="fa-solid fa-comment"></i> Comment</button>
                    </div>
                   </div>
              </form>

              <hr>

              

              <% comic.comments.forEach(comment => { %>
                <div class="comic-container row comment">
                
                    <div class="col-lg mb-3">
                        <div class="rounded-circle border d-flex justify-content-center align-items-center" style="width:80px;height:80px" alt="Avatar">
                            <i class="fas fa-user-alt fa-2x text-info"></i>
                        </div>
                    </div>
    
                    <div class="col-lg-10">
                        <h6><%= comment.writer %></h6>
                        <p><%= moment(comment.createdAt).fromNow() %></p>
                        <h4><%= comment.body %></h4>
                    </div>
    
                  </div>
              <% }) %>


              
              

            </div>
        </div>

        <div class="col-lg">
            <div class="comic-container">
              <h5>Top Popular</h5>
            <hr>

            <div class="row">

                <% topPopular.forEach((comic, i) => { %>
                  <div class="col-lg-12 row top-popular-item">
                      <div class="col-lg-4">
                          <img src="<%= comic.thumbnail.substring(7) %>" alt="" width="100" height="150" style="display: inline-block;">
                      </div>
                     <div class="col-lg-8">
                      <h5><a class="link-title-comic" href="/comics/<%= comic.titlePath %>"><%= comic.title.length > 50 ? comic.title.substring(0, 50) + "..." : comic.title %></a></h5>
  
                     <div class="rating mb-3">
                      <% for( let index = 0; index < topPopularRating[i]; index++ ) { %>
                        <i class="fa-solid fa-star"></i>
                      <% } %>

                      <% for( let index = 0; index < 5-topPopularRating[i]; index++ ) { %>
                        <i class="fa-regular fa-star"></i>
                      <% } %>
                     </div>

                    
  
                      <% comic.genres.forEach(genre => { %>
                          <span class="badge bg-secondary"><%= genre %></span>
                      <% }) %>
                     </div>
                  
                  </div>
                  <hr>
              <% }) %>
  
              </div>

            </div>
        </div>
    </div>
</main>

<%- include("../partials/footer") %>