<%- include("../partials/header") %>
<%- include("../partials/navbar") %>

<main class="container-xl">

   <div class="read-chapter-container">

    <h1 class="mb-3">
        <%= comic.title %> Chapter
        
        <% comic.chapters.forEach(chapter => { %>
         <% if (chapter.chapterPath === chapterPath) { %>
            
            <%= chapter.number %>

         <% } %>
        <% }) %>
    </h1>
    <hr>

   <div class="mb-3 navigator-container row">
    
    <div class="col-lg left-align">
        <select class="form-select" name="chapterSelect" id="chapterSelect">
            <% comic.chapters.forEach(chapter => { %>
             <option value="<%= chapter.chapterPath %>" <%= chapter.chapterPath === chapterPath ? "selected" : null %>>Chapter <%= chapter.number %></option>
            <% }) %>
        </select>
    </div>

   <div class="col-lg right-align">
    <% for( let index = 0; index < comic.chapters.length; index++ ) { %>
    
        <% if (comic.chapters[index].chapterPath === chapterPath) { %>

           <a class="btn btn-primary" href="/comics/<%= comic.titlePath %>/<%= comic.chapters[index === 0 ? index : index-1 ].chapterPath %>"><i class="fa-solid fa-angle-left"></i> Prev</a>
           <a class="btn btn-primary" href="/comics/<%= comic.titlePath %>/<%= comic.chapters[index === comic.chapters.length-1 ? index : index+1 ].chapterPath %>">Next <i class="fa-solid fa-angle-right"></i></a>

        <% } %>

    <% } %>
   </div>

    <input type="hidden" name="titlePath" value="<%= comic.titlePath %>">
   </div>

    

   <% comic.chapters.forEach(chapter => { %>

    <% if (chapter.chapterPath === chapterPath) { %>

        <% chapter.pages.forEach(page => { %>
            <img src="<%= page.substring(7) %>" alt="">
           <% }) %>
       </div>

    <% } %>

   <% }) %>

   <hr>
   

   <div class="mb-3 navigator-container row">
    
    <div class="col-lg left-align">
        <select class="form-select" name="chapterSelect" id="chapterSelect">
            <% comic.chapters.forEach(chapter => { %>
             <option value="<%= chapter.chapterPath %>" <%= chapter.chapterPath === chapterPath ? "selected" : null %>>Chapter <%= chapter.number %></option>
            <% }) %>
        </select>
    </div>

   <div class="col-lg right-align">
    <% for( let index = 0; index < comic.chapters.length; index++ ) { %>
    
        <% if (comic.chapters[index].chapterPath === chapterPath) { %>

           <a class="btn btn-primary" href="/comics/<%= comic.titlePath %>/<%= comic.chapters[index === 0 ? index : index-1 ].chapterPath %>"><i class="fa-solid fa-angle-left"></i> Prev</a>
           <a class="btn btn-primary" href="/comics/<%= comic.titlePath %>/<%= comic.chapters[index === comic.chapters.length-1 ? index : index+1 ].chapterPath %>">Next <i class="fa-solid fa-angle-right"></i></a>

        <% } %>

    <% } %>
   </div>

    <input type="hidden" name="titlePath" value="<%= comic.titlePath %>">
   </div>


   <div class="comic-container">
    <h3>Comments</h3>
    <hr>

  <form action="/comment" method="post" id="comment">
    <div class="row">
        <div class="col-lg-9">
            <textarea class="form-control" name="comment" id="comment" cols="30" rows="3"></textarea>
            <input type="hidden" name="comicId" value="<%= comic._id %>">
            <input type="hidden" name="commentSection" value="chapter">
            
            <% for( let index = 0; index < comic.chapters.length; index++ ) { %>
            
                <% if (comic.chapters[index].chapterPath === chapterPath) { %>
                    <input type="hidden" name="chapterIndex" value="<%= index %>">
                <% } %>

            <% } %>

        </div>
        <div class="col-lg">
            <button class="btn btn-primary w-100 h-100"><i class="fa-solid fa-comment"></i> Comment</button>
        </div>
       </div>
  </form>

  <hr>

  
  <% for( let index = 0; index < comic.chapters.length; index++ ) { %>

    <% if (comic.chapters[index].chapterPath === chapterPath) { %>
     
        <% comic.chapters[index].comments.forEach(comment => { %>

            <div class="comic-container row comment">
                
                <div class="col-lg mb-3">
                    <div class="rounded-circle border d-flex justify-content-center align-items-center" style="width:80px;height:80px" alt="Avatar">
                        <i class="fas fa-user-alt fa-2x text-info"></i>
                    </div>
                </div>

                <div class="col-lg-10">
                    <h6><%= comment.writer %></h6>
                    <p><%= moment(comment.createdAt).fromNow() %></p>
                    <h4><%= comment.body %></h4>
                </div>

              </div>
         
        <% }) %>

    <% } %>
  
  <% } %>

  
  

</div>

    
</main>

<%- include("../partials/footer") %>